// Header
$header-height: 50px;

// Collapse
$collapse-break: 720px;

//Inbox
$inbox-width: 960px;
$email-item-circle-size: 50px;
$email-item-circle-border-size: 2px;
$inbox-email-expand-length: 20s;
// Loading
$loading-width: 200px;
$loading-height: 200px;
$line-height: 25px;
$nth-lines: 4;
$line-color: rgba(154, 163, 154, 0.54);


//Animatoins
$transition-length: 0.5s;
$wobble-length: 1s;
